html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

#rh-subnav {
    display: none;
}

li {
    list-style: none
}

h1 {
    font: normal 13px 'Press Start 2P', cursive;
    color: black;
    padding-top: 6px;
    background-image: url(../img/title-bg.png);
    height: 25px;
    width: 300px;
    margin: auto;
}
h1 span {
    display: none;
}

h2 {
    color: #aaff4d;
    text-transform: uppercase;
    font: normal 50px 'Press Start 2P', cursive;
    text-align: center;
    margin: 50px 0 20px 0;
}

.bg {
    width: 100%;
    height: 950px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/sword-bg.jpg);
    background-size: cover;
    background-color: black;
    margin: auto;
    text-align: center;
}

.main-text {
    width: 100%;
    text-align: center;
    padding: 45px;
}

.main-text p {
    font: normal 20px 'Open Sans', sans-serif;
    line-height: 30px;
    color: #fff;
    max-width: 77%;
    margin: auto;
}

a {
    color: white;
    text-decoration: underline;
}

.button-box {
    display: block;
    text-align: center;
    margin-top: -40px;
}

.action-box {
    display: block;
    text-align: center;
    border: 2px dashed #b4b4b4;
    background: #3B3C45;
    width: 600px;
    height: 400px;
    margin: auto;
}

#weapon .initial {
    width: 50%;
}

.weapon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#weapon-image {
    width: 85%;
}

#weapon-name {
    font: normal 30px 'Press Start 2P', cursive;
    color: lightgray;
    text-transform: uppercase;
    margin-top: 15px;
}


button {
    border: 1px solid #aaff4d;
    width: 200px;
    height: 50px;
    background: none;
    text-transform: uppercase;
    font: normal 16px 'Press Start 2P', cursive;
    color: #aaff4d;
    margin: 10px;
    margin-bottom: 30px;
}

#url {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
}
.bg p.byline {
    color: white;
    font-size: 11px;
}
.hide {
    display: none;
}

/* HANDHELD-SPECIFIC */
@media only screen and ( min-width: 220px ) and ( max-width:727px ) {
    .main-text p {
        max-width: 95%;
    }
    .action-box {
        width: 100%;
        height: 250px;
    }
    .bg {
        width: 100%;
        height: auto;
    }
}
/* TABLET-SPECIFIC */
@media only screen and ( min-width: 728px ) and (max-width:1023px) {
}
/* HANDHELD & TABLET */
@media only screen and ( min-width: 220px ) and (max-width:1023px) {
}
