html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

#rh-subnav {
    display: none;
}

li {
    list-style: none
}

h1 {
    font: normal 13px 'Press Start 2P', cursive;
    color: black;
    padding-top: 6px;
}

.top {
    background-image: url(../img/title-bg.png);
    height: 25px;
    width: 300px;
    margin: auto;
}

h4 {
    color: #aaff4d;
    text-transform: uppercase;
    font: normal 50px 'Press Start 2P', cursive;
    text-align: center;
    margin: 50px 0 20px 0;
}

.bg {
    width: 100%;
    height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/sword-bg.jpg);
    background-size: cover;
}

.main-text {
    width: 100%;
    text-align: center;
    padding: 60px;
}

.main-text p {
    font: normal 20px 'Open Sans', sans-serif;
    line-height: 30px;
    color: #fff;
    max-width: 77%;
    margin: auto;
}

.button-box {
    display: block;
    text-align: center;
    margin-top: -40px;
}

.action-box {
    display: block;
    text-align: center;
    border: 2px dashed #b4b4b4;
    background: #f2f2f2;
    width: 600px;
    height: 400px;
    margin: auto;
}

.weapon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#weapon-name {
    font: normal 30px 'Press Start 2P', cursive;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
}


button {
    border: 1px solid #aaff4d;
    width: 200px;
    height: 50px;
    background: none;
    text-transform: uppercase;
    font: normal 16px 'Press Start 2P', cursive;
    color: #aaff4d;
    margin: 10px;
    margin-bottom: 30px;
}

.reset {
    text-align: center;
    margin: 25px;
}

.reset a {
    text-decoration: underline;
    color: white;
    font: normal 13px 'Open Sans', sans-serif;
}